DATABASE_URL=postgresql+asyncpg://postgres:123@localhost:5433/help_book_db

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_NOTE_EVENTS_TOPIC=note-events
KAFKA_CONSUMER_GROUP=ai-analysis-service

EMOTION_MODEL_BACKEND=zero-shot
EMOTION_MODEL_NAME=MoritzLaurer/mDeBERTa-v3-base-mnli-xnli
EMOTION_MODEL_DEVICE=-1
EMOTION_MODEL_LOCAL_FILES_ONLY=false
EMOTION_HYPOTHESIS_TEMPLATE=Этот текст выражает эмоцию {}.

LOG_LEVEL=INFO

