JWT_SECRET_KEY=53A73E5F1C4E0A2D3B5F2D784E6A1B423D6F247D1F6E5C3A596D635A75327855
JWT_TOKEN_LIFETIME=1d

EUREKA_CLIENT_ENABLED=false
EUREKA_DEFAULT_ZONE=http://localhost:8081/eureka/

AUTH_SERVICE_PORT=8080
AUTH_DB_URL=jdbc:postgresql://localhost:5433/help_book_db
AUTH_DB_USERNAME=postgres
AUTH_DB_PASSWORD=123

CONTENT_SERVICE_PORT=8091
CONTENT_DB_URL=jdbc:postgresql://localhost:5433/help_book_db
CONTENT_DB_USERNAME=postgres
CONTENT_DB_PASSWORD=123

API_GATEWAY_PORT=8086
AUTH_SERVICE_URL=http://localhost:8080
CONTENT_SERVICE_URL=http://localhost:8091
AI_ANALYSIS_SERVICE_URL=http://localhost:8010
ANALYTICS_SERVICE_URL=http://localhost:8020

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_NOTE_EVENTS_TOPIC=note-events
